.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 2rem;

  flex: 1;

  .header {
    display: flex;

    .title {
      display: flex;
      margin-right: auto;
      align-items: center;
      line-height: 2rem;
      h2 {
        font-size: 2rem;
        font-weight: normal;
        margin-right: .25rem;
      }
      a {
        align-self: flex-end;
        color: var(--orange);
      }

    }

  }

}

.content {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 310px;
  gap: 1.25rem;
  // align-items: center;

  @media (max-width: 625px) {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }

  label {
    margin: .5rem 0;
    display: block;
  }

  .disabled {
    span {
      color: var(--gray-500);
      padding: 0 0.75rem;
    }
  }

  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .animalData {
      > label {
        margin-top: 0;
      }

    }

    .animalInformations {
      h3 {
        font-weight: 600;
        color: var(--gray-500);
        // text-align: center;

        margin-bottom: .5rem;
      }

      .warnings {
        width: 80%;
        margin: 0 auto;

        background: var(--red-700);
        border-radius: 4px 4px 0 0;
        padding: .25rem .5rem;

        color: var(--gray-100);
        font-weight: 600;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin-left: .5rem;
        }
      }

      .warningsMessage {
        width: 80%;
        margin: 0 auto;

        background: var(--gray-300);
        border-radius: 0 0 4px 4px;
        margin-bottom: .25rem;
        // color: var(--orange);
        padding: 0.5rem;
        font-weight: 500;
        text-align: center;
      }

      .gestation {
        display: inline-block;
        background: var(--blue-500);
        border-radius: 4px;
        padding: .25rem .5rem;

        color: var(--gray-100);
        font-weight: 600;
        
      }
    }
  }

  .right {
    width: 100%;
    height: 200px;

    position: relative;
    

    img {
      border-radius: 16px;
    }
  }


}
.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s ease-in-out 300ms, opacity 300ms;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s linear 300ms, opacity 300ms;
}

.buttons {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  gap: .5rem;

  a {
    text-align: center;
  }
  

  button,  a{
    display: grid;
    grid-template-columns: 20px .3fr 1fr;
    align-items: center;

    width: 100%;

    padding: 0 1rem;

    height: 3rem;
    border-radius: 8px;
    border: 0;
    font-weight: 700;
    color: var(--gray-100);
    transition: filter .2s;

    &:hover {
      filter: brightness(.82);
    }

    span {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 300;
      justify-self: center;
      margin: 0 .5rem;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;

      line-height: 1.2rem;
    }

  }
  .delete {
    background: var(--red-700);
  }

  .milking {
    background: var(--blue-500);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .weight {
    background: var(--yellow-500);
  }

  .edit {
    background: var(--green-700);
  }

  .coverage {
    background: #89729e;
  }

  .born {
    background: #9bc4e2;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.tableContainer {
  width: 100%;
  margin: 0 auto;

  overflow-x: auto;


  flex: 1;

  table {
    width: 100%;
    border-spacing: 0 0.5rem;


    th {
      color: var(--gray-900);
      font-weight: 700;
      padding: 1rem 2rem;
      text-align: left;
      line-height: 1.5rem;
    }



    tbody {
      tr {
        background: rgba(0, 0, 0, 0.03);

        &:hover {
          background: rgba(0, 0, 0, 0.09);
        }

        td {
          padding: 1rem 2rem;
          border: 0;
          color: var(--gray-800);

        }
      }
    }
  }  
  td:last-of-type {
    padding-right: 1rem;
    text-align: right;
    cursor: pointer;
  }
}
